.signin_button {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-weight: 500;
  border: 2px solid #333E48;
  width: 70px;
}
.signin__holder {
  width: 8vw
}
.signInButton {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: 13px;
  font-weight: 500;
  border: 2px solid #333E48;
  width: 70px;
  height: 40px;
}
.signin__container {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333E48;
  padding: 10px 16px;
  border-radius: 2px;
  line-height: 2px;
  text-decoration: none;
  font-family: National2,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  font-weight: 500;
  background-color: transparent;
  justify-content: center;
  border-width: 2px;
  border-style: solid;
  border: 2px solid #333E48;
  cursor: pointer;
  background-color: white;
}

.signOutButton{
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-weight: 500;
  border: 2px solid #333E48;
  height: 10vh
}

.signOutButton__Container{
  color: #333E48;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  line-height: 2px;
  text-decoration: none;
  font-family: National2,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1vw;
  font-weight: 500;
  background-color: transparent;
  justify-content: center;
  border-width: 2px;
  border-style: solid;
  border: 2px solid #333E48;
  cursor: pointer;
  background-color: white;
  width: 20vw;
  height: 20vh;
}

.exitButton{
  position: fixed;
  height: 24vh;
  width: 30%;
  left: 67.5vw;
  color: white;
  top: 58.7vh;
  z-index: 1000;
}
.blockButton{
  position: fixed;
  height: 30vh;
  width: 30%;
  left: 67.5vw;
  top: 29vh;
  color: white;
  z-index: 1000;
}

#blockWhite{
  background-color: white;
  color: black;
}
#blockBlue{
  background-color: #2979FF;;
  color: white
}
#blockPurple{
  background-color: purple ;
  color: white
}
#blockBrown{
  background-color: brown;
  color: white;
}
#blockBlack{
  background-color: black;
  color: white;
}

#exitWhite{
  background-color: white ;
  color: black;
}
#exitBlue{
  background-color: #2979FF;;
}
#exitPurple{
  background-color: purple;
  color: white;

}
#exitBrown{
  background-color: brown;
  color: white;
}
#exitBlack{
  background-color: black ;
  color: white;
}

#signInBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

#actualSignInButton{
  background-color: black 
}
#guestButton{
  background-color: black 
}
#actualSignIn{
  background-color: black 
}

.StyledBox-sc-13pk1d4-0.gAsOLC {
  display: flex;
  align-items: center;

}

#bottomForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonsContainer {
  position: fixed;
}

.blockButtonDiv {
  position: fixed;
}