[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "*"
gunicorn = "*"
itsdangerous = "*"
python-dotenv = "*"
six = "*"
psycopg2 = "*"
Flask = "*"
Flask-Cors = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
Jinja2 = "*"
MarkupSafe = "*"
SQLAlchemy = "*"
Werkzeug = "*"
WTForms = "*"
Flask-JWT-Extended = "*"
alembic = "*"
flask-migrate = "*"
bcrypt = "*"
pylint = "*"
psycopg2-binary = "*"
boto3 = "*"
flask-s3 = "*"
flask-socketio = "*"
sanic = "*"
sanic-cors = "*"
gevent-websocket = "*"
eventlet = "*"
flask-sockets = "*"
redis = "*"
flask-talisman = "*"
pyopenssl = "*"
socketio-client = "*"

[requires]
python_version = "3.10.8"
