.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  width: 30%;
  background-color: #1A1A1D;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 8px;
  height: 100%;
  width: 100vw;

}

.messages{
  padding: 1% 0;
 
}