.infonull, .infoWhite, .infoBlue, .infoPurple, .infoBrown, .infoBlack{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 14vh;
  width: 100%;
  font-size: 25px;
  border-radius: 10px 10px 0px 0px
}


.infonull{
  background-color: white;
  box-shadow: 0px 0px 1px 1px black;
  color: black;
}
.infoWhite{
  background-color: white;
  box-shadow: 5px 5px 5px 5px black;
  color: black;
}
.infoBlue{
  background: #2979FF;
}
.infoPurple{
  background: purple;
}
.infoBrown{

  background: brown;
}
.infoBlack{
background-color: black
}

.leftInnerContainernull, .leftInnerContainerWhite, .leftInnerContainerBlue,
.leftInnerContainerPurple, .leftInnerContainerBrown, .leftInnerContainerBlack {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.leftInnerContainernull{
  color: black;
} 
.leftInnerContainerWhite{
  color: black
}
 .leftInnerContainerBlue{
   color: white;
 }
.leftInnerContainerPurple{
  color: white
}
 .leftInnerContainerBrown{
   color: white;
 }
  .leftInnerContainerBlack{
    color: white;
  }

.rightInnerContainer {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 5%;
}

.onlineIcon {
  margin-right: 5%;
}
