.infonull,
.infoWhite,
.infoBlue,
.infoPurple,
.infoBrown,
.infoBlack {
  display: flex;
  align-items: center;

  justify-content: space-between;
  height: 11vh;
  width: 30vw;
  font-size: 25px;
  border-radius: 10px 10px 0px 0px;
  position: fixed;
  left: 67.5vw;
  top: 26.4vh;
  right: 10vw;
  z-index: 1000;
  box-shadow: 0px 5px 5px 0px black;
}


.infonull {
  background-color: grey;
  color: white;
}

.infoWhite {
  background-color: white;
  color: black;
}

.infoBlue {
  background: #2979FF;
}

.infoPurple {
  background: purple;
}

.infoBrown {

  background: brown;
}

.infoBlack {
  background-color: black
}

.leftInnerContainernull,
.leftInnerContainerWhite,
.leftInnerContainerBlue,
.leftInnerContainerPurple,
.leftInnerContainerBrown,
.leftInnerContainerBlack {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.leftInnerContainernull {
  color: white
}

.leftInnerContainerWhite {
  color: black
}

.leftInnerContainerBlue {
  color: white;
}

.leftInnerContainerPurple {
  color: white
}

.leftInnerContainerBrown {
  color: white;
}

.leftInnerContainerBlack {
  color: white;
}

.rightInnerContainer {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;

}

.onlineIcon {
  margin-right: 5%;
}