#VC__Container{
  display:flex; 
  align-items: center;
  justify-content: space-around;
  height: 100vh;

}

#splash-nav__container{
width: 100%;
height: 100%;
}

.VC__Container{
  width: 100%;
  height: 100%;

}

.logo__Container {
display: flex;
  width: 50%;
  justify-content: flex-end

}
.signin__container{
  display: flex;
  justify-content: flex-end;
width: 50%;
}
.nav__container {
  display: flex;

}

.signin__holder {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}