#VC__Container{
  display:flex; 
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  background-color: black;
  
}

#splash-nav__container{
width: 100%;
height: 100%;
box-shadow:2px 2px 2px 10px grey; 
}

.VC__Container{
  width: 100%;
  height: 100%;

}

.logo__Container {
display: flex;
width: 100%;
justify-content: space-between;
box-shadow:1px 1px 1px 1px grey; 
}
.signin__container{
  display: flex;
  justify-content: flex-end;
width: 50%;
}
.nav__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  color: white;
  box-shadow:  10px 10px 10px  #888888;

}

#navnull {
  background-color: white;
  color: black;
  box-shadow: 5px 5px 5px 5px gray

}

#navWhite {
  background-color: white;
  color: black;
  box-shadow:  25px inset #888888;
}

#navBlue {
  background: #2979FF;
  color: white;
}

#navPurple{
background-color: purple;
color: white;
}

#navBrown {
  background-color: brown;
  color: white;
}

#navBlack {
  background-color: black;
  color: white;
}

.signin__holder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;

}
.signin__container{
  width: 25vw;
  background-color: black;
  display: flex;
  justify-content: center;
}

.signOutButton__Container {
  width: 6.5vw;
  height: 4.5vh;
}



#JiuJitsuPic1{
  display: flex;
  width: 100px;
  margin: .5em;
  border: 1.5mm black;
  border-radius: 15px;
  box-shadow: 2px 2px 4px 1px black;
}





#JiuJitsuPic2{
  display: flex;
  width: 100px;
  margin: .5em;
  border:  black;
  border-radius: 15px;
  box-shadow: 2px 2px 4px 1px black;
}

.JiuJitsu__Container{
  display:flex;
 justify-content: space-around;
 width: 70vw
 

}

.logo{
  font-weight: 500;
  font-variant: small-caps slashed-zero;
  line-height: 5;
  
}