.form {
  display: flex;
  border-top: 2px solid #D3D3D3;
  width: 28.8vw

}

.input {
  border: none;
  border-radius: 10px;
  padding: 5%;
  width: 22.9vw;
  

  font-size: 1.2em;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.buttonnull, .buttonWhite, .buttonBlue, .buttonPurple, .buttonBrown, .buttonBlack {
 display: flex;
 position: absolute;
  text-transform: uppercase;
  padding: 20px;
  right: 2.5vw;
  top: 88.3vh;
  justify-content: center;
  border: none;
  width: 5.6vw;
  overflow: auto;
  border-radius: 0px 0px 10px 0px;
  box-shadow: 1px 1px 1px 1px black;
}


.buttonnull{
  background: white;
  color: black;
}
.buttonWhite{
  background:white; 
  color: black
}
.buttonBlue{ 
  background: #2979FF;
}

.buttonPurple{ 
  background: purple;
}
.buttonBrown{ 
  background: brown;
  color: white;
}
.buttonBlack{ 
  background: black;
  color: white;
}