.form {
  display: flex;
  border-top: 2px solid #D3D3D3;
  width: 28.8vw
}

.input {
  border: none;
  border-radius: 10px;
  height: 50px;
  width: 22.9vw;
  font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}



.buttonnull {
  background: gray;
  color: white;
}

.buttonWhite {
  background: white;
  color: black;
}

.buttonBlue {
  background: #2979FF;
  color: white;
}

.buttonPurple {
  background: purple;
  color: white;
}

.buttonBrown {
  background: brown;
  color: white;
}

.buttonBlack {
  background: black;
  color: white;
}

@media screen and (min-width: 1501px) {
  #input-button-wrapper {
    display: flex;
    margin-right: 80%;
  }

  #input-button {
    display: flex;
    align-items: flex;
    text-align: center;
    text-justify: center;
    justify-content: center;
    height: 5%;
    line-height: 50px;
  }

  #input-form>div {
    height: 100%;
    width: 20%;
  }

  .buttonnull,
  .buttonWhite,
  .buttonBlue,
  .buttonPurple,
  .buttonBrown,
  .buttonBlack {
    display: flex;
    position: fixed;
    text-transform: uppercase;

    justify-content: center;
    border: none;
    width: 5.6vw;
    overflow: auto;
    border-radius: 0px 0px 10px 0px;
    box-shadow: 1px 1px 1px 1px black;
  }
}

@media screen and (min-width: 1101px) and (max-width: 1500px) {

  #input-button-wrapper {
    display: flex;
    margin-right: 80%;
  }

  #input-button {
    display: flex;
    align-items: flex;
    text-align: center;
    text-justify: center;
    justify-content: center;
    line-height: 10px;
    height: 5%;
  }

  #input-form>div {
    height: 100%;
    width: 20%;
  }

  .buttonnull,
  .buttonWhite,
  .buttonBlue,
  .buttonPurple,
  .buttonBrown,
  .buttonBlack {
    display: flex;
    position: fixed;
    text-transform: uppercase;
    padding: 20px;
    justify-content: center;
    border: none;
    width: 5.6vw;
    overflow: auto;
    border-radius: 0px 0px 10px 0px;
    box-shadow: 1px 1px 1px 1px black;
  }
}


@media screen and (max-width: 1100px) {
  #input-button-wrapper {
    display: flex;
    margin-right: 80%;
  }

  #input-button {
    display: flex;
    align-items: flex;
    text-align: center;
    text-justify: center;
    justify-content: center;
    line-height: 40px;
    height: 5%;
    width: 5.5%;
  }

  #input-form>div {
    height: 25px;
    width: 3px;
  }

  .buttonnull,
  .buttonWhite,
  .buttonBlue,
  .buttonPurple,
  .buttonBrown,
  .buttonBlack {
    display: flex;
    position: fixed;
    text-transform: uppercase;
    padding: 0px;
    justify-content: center;
    border: none;

    overflow: auto;
    border-radius: 0px 0px 10px 0px;
    box-shadow: 1px 1px 1px 1px black;
  }
}

@media screen and (max-height: 1100px) {

  #input-button-wrapper {
    display: flex;
    margin-right: 80%;
  }

  #input-button {
    display: flex;
    align-items: flex;
    text-align: center;
    text-justify: center;
    justify-content: center;
    line-height: 48px;
    height: 51px;
    width: 6.2%;
  }

  #input-form>div {
    height: 25px;
    width: 3px;
  }

  .buttonnull,
  .buttonWhite,
  .buttonBlue,
  .buttonPurple,
  .buttonBrown,
  .buttonBlack {
    display: flex;
    position: fixed;
    text-transform: uppercase;
    padding: 0px;
    justify-content: center;
    border: none;

    overflow: auto;
    border-radius: 0px 0px 10px 0px;
    box-shadow: 1px 1px 1px 1px black;
  }
}