.form {
  display: flex;
  border-top: 2px solid #D3D3D3;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.buttonWhite, .buttonBlue, .buttonPurple, .buttonBrown, .buttonBlack {
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
  overflow: auto;
  box-shadow: 1px 1px 1px 1px black;
}
.buttonBlue, .buttonPurple, .buttonBrown, .buttonBlack {
  color: #fff !important;
}
.buttonBlue{ 
  background: #2979FF;
}