.messageBox {
  background: #F3F3F3;
  border-radius: 20px;
  padding: 5px 20px;
  color: white;
  display: inline-block;
  max-width: 80%;
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
  margin-top: 3px;
  margin-bottom: 3px;
}

.sentText {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: #828282;
  letter-spacing: 0.3px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

#colorWhite {
  color: black;
}



#colorBlack, #colorBlue, #colorPurple, #colorBrown {
  color: white
}

#messageWhite {
  background: white;
  box-shadow: .5px .5px 1px .5px black;

}

#messageBlue{
  background: #2979FF;
  box-shadow: 1px 1px 1px 1px black;
}

#messagePurple{
  background: purple;
  box-shadow: 1px 1px 1px 1px black;
}

#messageBrown{
  background: brown;
  box-shadow: 1px 1px 1px 1px black;
}

#messageBlack{
  background: black;
  box-shadow: 1px 1px 1px 1px black;
}

.backgroundLight {
  background: #F3F3F3;
}

.userAvatar {
  display: flex;
  height: 8vh;
  width: 6vw;
  border-radius: 30px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 3px;
  border: solid 1.5px;
}

.differentUserAvatar {
  display: flex;
  height: 8vh;
  width: 6vw;
  border-radius: 30px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 3px;
  border: solid 1.5px;
}

.otherUserDiv{

  display: flex;
  flex-direction: row;
}

