#VideoPlayer__Div {
height: 500;
  width: 500px;
  box-shadow: 40px 40px;
  margin: 40px;
  border: 20px;
}

.VideoPlayer{
  height: 65vh;
  width: 60vw;
  border: 2mm ridge grey; 
  border-radius: 15px;
  box-shadow: 2px 2px 4px 1px black;
  background-color: black
}

.VideoPlayer__Container {
 
}
